* {
  margin: 0;
  margin: 0;
  background-color: #f7e6ad;
  font-family: "Gorditas", cursive;
}
header {
  border: 5px solid black;
  padding: 5px;
}
main {
  border: 5px solid black;
  margin: 5px;
  padding: 5px;
  display: block;
  height: 600px;
}

.card {
  border: 5px solid #28ffbf;
  width: 520px;
  height: 520px;
  margin: 5px;
  display: inline-block;
  float: left;
}
.card img {
  border: 5px solid #bcffb9;
}
footer {
  border: 5px solid black;
  margin: 5px;
  padding: 5px;
}
