* {
  margin: 0;
  padding: 0;
}
header {
  background: url(https://i.pinimg.com/originals/d5/7c/d6/d57cd6832d7bb233ddf285bed243a4ee.jpg)
    no-repeat center center;
  width: 100vw;
  height: 50vh;
  color: white;
  text-align: center;
}
main {
  background-color: darkgoldenrod;
  width: 100vw;
  height: 50vh;
}
footer {
  background-color: yellow;
  width: 100vw;
  height: 50vh;
}
@media (max-width: 1000px) {
  header {
    height: 100vh;
  }
  main {
    height: 100vh;
  }
  footer {
    height: 100vh;
  }
}
