* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.box {
  border: 3px solid lavender;
  margin: 5px;
}
li {
  line-height: 50px;
  font-size: 25px;
}
#side {
  float: left;
  width: 15%;
  height: 500px;
}
#main {
  float: left;
  width: 80%;
  height: 500px;
}
.clr {
  clear: both;
}
@media (max-width: 1000px) {
  #side {
    display: none;
  }
  #main {
    width: 100%;
  }
}
