.box {
  height: 100px;
  width: 100px;
  border: 5px solid black;
  margin: 5px;
  font-size: 5rem;
  text-align: center;
}
.container-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: beige;
}
#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
