* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;
}
.cont {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}
.spinner1 {
  width: 100px;
  height: 100px;
  border: 5px solid gray;
  border-radius: 100%;
  animation: animate1 2s linear 0s infinite;

  border-top: 5px solid greenyellow;
}
@keyframes animate1 {
  to {
    transform: rotate(360deg);
  }
}
.spinner2 {
  width: 100px;
  height: 100px;
  /* border: 5px solid gray; */
  border-radius: 100%;
  animation: animate1 2s linear 0s infinite;
  border-top: 5px solid greenyellow;
}
@keyframes animate2 {
  to {
    transform: rotate(360deg);
  }
}
.dots {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.dot {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: gray;
}
.dot:nth-child(1) {
  animation: animate3 2s linear 0s infinite;
}
.dot:nth-child(2) {
  animation: animate3 2s linear 0.3s infinite;
}
.dot:nth-child(3) {
  animation: animate3 2s linear 0.6s infinite;
}
@keyframes animate3 {
  0%,
  100% {
    background-color: gray;
  }
  50% {
    background-color: greenyellow;
  }
}
.dots2 {
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.dot2 {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: greenyellow;
}
.dot2:nth-child(1) {
  animation: animate4 1s linear 0s infinite;
}
.dot2:nth-child(2) {
  animation: animate4 1s linear 0.3s infinite;
}
.dot2:nth-child(3) {
  animation: animate4 1s linear 0.6s infinite;
}
@keyframes animate4 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
